body.admin.view-.layout-.task-, body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel,  body.view-.layout-.task- .btn.btn-subhead, body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel .btn.btn-subhead {
  .btn.btn-subhead, .subhead-collapse {
    display: none;
  }
  /*#jev_adminui {
    top: 0px;
  }*/
}
body.com_jevents {
  #isisJsData {display:none;}
  > .container-fluid.container-main {
    margin:0px !important;
    padding: 0px !important;
  }
  > .subhead-collapse {
    margin-bottom: 0px !important;
  }

  > header.header {
    display: none !important;
  }
  .subhead-fixed {
    top: 32px;
    z-index: 1021;
  }

  #jev_adminui {
    top: 33px;
    position: absolute;
    width: 100%;
    margin-top: 0px;

    #system-message-container {
      &.j-toggle-main {
        float: none;
        width: 100%;
        margin-left: 0px;
        padding: 15px;

        .alert {
          &.alert-success {
            h4 {
              color: #FFF;
              font-size: 18px;
              font-weight: 400;
              line-height: 1.1;
            }
            .alert-message {
              font-size: 14px;
            }
          }
          h4.alert-heading {
            font-size: 24px;
            margin-bottom: 10px;
            color: #000;
            text-shadow: none;
            border-bottom: 2px solid;
            padding-bottom: 10px;
            text-transform: uppercase;
            font-weight:500;
          }
          .alert-message {
            font-size: 14px;
            text-shadow: none;
            font-weight: 400;
            line-height: 20px;
          }
        }

      }
    }
    .box-body .summary {
      a.ashow_repeats {
        clear: both;
        display: block;
        i {
          font-size: 8px;
          margin-left: 5px;
        }
      }
    }
    tr {
      td {
        .admin_d_and_t {
          margin: 0px;
        }
      }
    }

    .pagination {
      &.pagination-toolbar {
        text-align: center;
        margin-top: 5px;
      }
    }

    .row {
      margin: 0px;

    }
    .cpanel_cpanel {

      .span6 {
        .label {
          float:right;
        }
      }
    }
  }

  li {
    line-height: 20px;
  }

  section.content {
    &.ov_info {
      .span3 {
        width: 25%;
        box-sizing: border-box;
        display: inline-block;
        margin: 0px;
        padding: 10px;
      }
    }
  }
}

@media (min-width:768px) {
  .content-header {
    margin-top:52px;
  }
}

@media (max-width:767px) {
  body.com_jevents {
    padding: 0px;
    > nav.navbar {
      padding: 0 20px;
    }
    #jev_adminui {
      position: relative !important;
      margin-top: -79px;
      .main-header {
        > a {
          width: 100%;
          max-width: 100%;
          .logo-lg {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
#system-debug {
  width: 100% !important;
  position: absolute !important;
  z-index: 9999 !important;
  margin-left: 0px !important;
  margin-top: 85% !important;
  box-sizing: border-box !important;
}