body.admin.view-.layout-.task- .btn.btn-subhead,
body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel .btn.btn-subhead,
body.view-.layout-.task- .btn.btn-subhead .btn.btn-subhead,
body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel .btn.btn-subhead .btn.btn-subhead,
body.admin.view-.layout-.task- .subhead-collapse,
body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel .subhead-collapse,
body.view-.layout-.task- .btn.btn-subhead .subhead-collapse,
body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel .btn.btn-subhead .subhead-collapse {
  display: none;
}
body.admin.view-.layout-.task- #jev_adminui,
body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel #jev_adminui,
body.view-.layout-.task- .btn.btn-subhead #jev_adminui,
body.admin.com_jevents.view-.layout-.task-cpanel\.cpanel .btn.btn-subhead #jev_adminui {
  top: 0px;
}
body.com_jevents #isisJsData {
  display: none;
}
body.com_jevents > .container-fluid.container-main {
  margin: 0px !important;
  padding: 0px !important;
}
body.com_jevents > .subhead-collapse {
  margin-bottom: 0px !important;
}
body.com_jevents > header.header {
  display: none !important;
}
body.com_jevents .subhead-fixed {
  top: 32px;
  z-index: 1021;
}
body.com_jevents #jev_adminui {
  top: 33px;
  position: absolute;
  width: 100%;
  margin-top: 0px;
}
body.com_jevents #jev_adminui #system-message-container.j-toggle-main {
  float: none;
  width: 100%;
  margin-left: 0px;
  padding: 15px;
}
body.com_jevents #jev_adminui #system-message-container.j-toggle-main .alert.alert-success h4 {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}
body.com_jevents #jev_adminui #system-message-container.j-toggle-main .alert.alert-success .alert-message {
  font-size: 14px;
}
body.com_jevents #jev_adminui #system-message-container.j-toggle-main .alert h4.alert-heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000;
  text-shadow: none;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
body.com_jevents #jev_adminui #system-message-container.j-toggle-main .alert .alert-message {
  font-size: 14px;
  text-shadow: none;
  font-weight: 400;
  line-height: 20px;
}
body.com_jevents #jev_adminui .box-body .summary a.ashow_repeats {
  clear: both;
  display: block;
}
body.com_jevents #jev_adminui .box-body .summary a.ashow_repeats i {
  font-size: 8px;
  margin-left: 5px;
}
body.com_jevents #jev_adminui tr td .admin_d_and_t {
  margin: 0px;
}
body.com_jevents #jev_adminui .pagination.pagination-toolbar {
  text-align: center;
  margin-top: 5px;
}
body.com_jevents #jev_adminui .row {
  margin: 0px;
}
body.com_jevents li {
  line-height: 20px;
}
body.com_jevents section.content.ov_info .span3 {
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px;
  padding: 10px;
}
@media (min-width: 768px) {
  .content-header {
    margin-top: 52px;
  }
}
@media (max-width: 767px) {
  body.com_jevents {
    padding: 0px;
  }
  body.com_jevents > nav.navbar {
    padding: 0 20px;
  }
  body.com_jevents #jev_adminui {
    position: relative !important;
    margin-top: -79px;
  }
  body.com_jevents #jev_adminui .main-header > a {
    width: 100%;
    max-width: 100%;
  }
  body.com_jevents #jev_adminui .main-header > a .logo-lg {
    max-width: 100%;
    width: 100%;
  }
}
